/*
body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}
*/

/*
    chess_app.css: CSS for the Chess Board page.    
*/

.normal_text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1em;
}

/* A little left hand margin for some element */
.left_padded {
    margin-left: 10px;
}

/* For DIVs that float on the left. */
div.float_left {
    float: left;
    margin-right: 5px;
}

/* For DIVs that float on the right. */
div.float_right {
    float: right;
    margin-left: 5px;
}

/* Padding for our details panels. */
.panel_details {
    padding: 5px;
}

/* The right column has a fixed width to make sure there's room for the private chat window. */
#right-column {
    width: 35%;
}

/* Override the fixed height for the 'btn' class defined in chess_styles.css by making all send-message class buttons inherit their height. */
.send-message {
    height: inherit;
}

/* Leave some space for the chat window columnt. */
#app {
    width: 65%;
}